.popupContainer {
  display: flex;
  gap: 20px;
  align-items: center;

  img {
    width: 64px !important;
    height: 48px !important;
    max-width: 64px !important;
    max-height: 48px !important;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 120px;

    a {
      color: #7d6430;
      font-weight: 700;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        text-decoration: underline;
        color: #483717;
      }
    }

    span {
      font-size: 14px;
      color: #9e9e78;
      margin: 4px 0;
    }

    b {
      font-size: 15px;
      color: #4d3d27;
      font-weight: 700;
    }
  }
}
